@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: quicksand;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}
.logo-title{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;

}

.nav-items>li{
    list-style: none;
    margin-left: -20px;
}
.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin: 0 auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
#menu-icon{
    display: none;
}

.btn{
    background-color: #000000;
    color: #FFFFFF;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.yellow{
    color:orange;
    font-weight: 500;
}

.Blue{
    color:#01ACFD;
}
.sky{
    color:#05D4DF;
}

.deep_blue{
    color:#5D58EF;
}

#yellow{
    background-color: orange;
    color: #FFFFFF;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    height: 90vh;
    width: 100%;
    background-color: #FFFFFF;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

.hero-content h1,.hero-content p{
    text-align: start;
}
.article{
    background-image: url(assets/bg.png);
    text-align: center;
    margin-top: 50px;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    margin-top: 50px;
}
.pro-title{
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}
.card-1{
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(0,212,255,0.5215336134453781) 100%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    height: 480px;
}
.card-2{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.6867997198879552) 0%, rgba(253,187,45,1) 100%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    height: 480px;
}
.card-3{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.6867997198879552) 0%, rgba(135,45,253,1) 100%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    height: 480px;
}


.arrow-left,.arrow-right{
    margin-top: 30px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background-color: orange;
    color: #FFFFFF;
}
.arrow-left:hover, .arrow-right:hover {
    background-color: #FF4500;
    transition: background-color 0.3s ease-in-out;
}

.card-1:hover, .card-2:hover, .card-3:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


.pro-title>p{
    color: #000000;
    font-size: 0.9rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    padding-top: 30px;
}

.card-1 a,.card-2 a,.card-3 a{
    text-decoration: none;
}

.story {
    background: linear-gradient(0deg, rgba(254,163,1,0.38707983193277307) 35%, rgba(0,212,255,0) 59%), url(assets/bg.png);
    background-size: cover;
    margin-top: 50px;
    padding: 20px;
}

.story h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.story-cards {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    /* margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px; */
}

.main-crd{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;

}

.main-crd h3,.main-crd p{
    text-align: start;
    padding: 0 20px;
}
.main-crd p{
    font-size: 0.9rem;
    color: #666;
    text-align: start;
    margin: 0 10px 10px;
    padding-top: 20px;
}
 .sec-crd-1, .sec-crd-2, .sec-crd-3, .sec-crd-4 {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.main-crd img, .sec-crd-1 img, .sec-crd-2 img, .sec-crd-3 img, .sec-crd-4 img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border-radius: 15px 15px 0 0;
}

h4 {
    background-color: #84c542;
    color: white;
    display: flex;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 0.6rem;
    font-weight: 700;
    width: 140px;
    height: 30px;
    padding-left: 10px;
    /* margin: -20px auto 10px; */
    align-self: center;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    padding: 0 10px;
}

p {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
    margin: 0 10px 10px;

}

.sec-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 20px;
}
.story-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .story-cards {
        grid-template-columns: 1fr;
    }

    .sec-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


footer {
    background-color: #00a8f3;
    color: white;
    padding: 40px 20px;
    margin: -30px 0 0;

  }

  .foot-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-section {
    flex: 1;
    margin: 0 20px;
  }

  .footer-section h3 {
    font-size: 1.5em;
    text-align: start;
    margin-bottom: 15px;
    color: white;
  }

  .footer-section p {
    font-size: 1em;
    line-height: 1.5;
    color: white;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 10px;
  }

  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }

  .footer-section ul li a:hover {
    text-decoration: underline;
  }

  .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }

  .social-icons a {
    margin-right: 10px;
  }

  .social-icons img {
    width: 50px;
    height: 50px;
  }

  .footer-icon {
    width: 90px;
    height: 90px;
  }



@media (max-width: 570px) {
    *{
        margin: 0;
        padding: 0;
    }
    .nav-items, .logo-title, .btn{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        height: 80px;
        width: 100%;
        margin-bottom: 210px;
        padding-bottom: 30px;
        border-bottom: 2px solid #FEA301 ;

    }

    .logo>img{
        width: 55px;
        padding-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 20px;
    }
    #menu-icon{
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 20px;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5%;
        text-align: center;
        margin: 0 auto;
        height: 100vh;
        padding: 20px;
        margin-bottom: 30px;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        margin-top: 20px;
        margin-right: 30px;
    }
    .hero-img{
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hero-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    .article{
        background-image: url(assets/bg.png);
        text-align: center;
        margin-top: 150px;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 90px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 50px;

    }
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    .footer-section p{
        text-align: start;
    }
    .main-crd{
        display: none;
    }

}